<div class="section">
  <div class="container">
    <div class="title">
      <h1 class="title-text">Our Clients</h1>
    </div>
    <p class="body-text">Tennessee Network Technologies is experienced in a
      vast array of services across all industries.
      The following is an abbreviated list of where we have
      provided support in our most commonly served industries
      in the past.</p>

      <div class="grid">
        <div class="grid__item one-half-width">
          <div class="card">
            <div class="title">
              <h1 class="title-text">Retail</h1>
            </div>
            <ul>
              <li>• Abercrombie & Fitch</li>
              <li>• American Eagle Outfitters</li>
              <li>• Bebe</li>
              <li>• Build-A-Bear</li>
              <li>• CVS</li>
              <li>• Dick's Sporting Goods</li>
              <li>• Dollar General</li>
              <li>• Hollister</li>
              <li>• Old Navy</li>
              <li>• Walgreens</li>
            </ul>
          </div>
        </div>
        <div class="grid__item one-half-width">
          <div class="card">
            <div class="title">
              <h1 class="title-text">Financial</h1>
            </div>
            <ul>
              <li>• Bank of America</li>
              <li>• JPMorgan Chase & Co.</li>
            </ul>
          </div>
        </div>
        <div class="grid__item one-half-width">
          <div class="card">
            <div class="title">
              <h1 class="title-text">Hospitality</h1>
            </div>
            <ul>
              <li>• Avis Rent a Car</li>
              <li>• Budget Inn</li>
              <li>• Holiday Inn</li>
              <li>• Red Roof Inn</li>
              <li>• The Hertz Corporation</li>
            </ul>
          </div>
        </div>
        <div class="grid__item one-half-width">
          <div class="card">
            <div class="title">
              <h1 class="title-text">Food Services</h1>
            </div>
            <ul>
              <li>• Arby's</li>
              <li>• Burger King</li>
              <li>• McDonald's</li>
              <li>• Olive Garden</li>
            </ul>
          </div>
        </div>
        <div class="grid__item one-half-width">
          <div class="card">
            <div class="title">
              <h1 class="title-text">Health Care</h1>
            </div>
            <ul>
              <li>• Hospitals</li>
              <li>• Dialysis Centers</li>
              <li>• Long-term Care Facilities</li>
            </ul>
          </div>
        </div>
      </div>

    {{!-- <div class="title">
      <h1 class="title-text">Retail</h1>
    </div>
    <div class="grid">
      {{#each retail as |photo|}}
        <div class="grid__item logo-width">
          <div class="logo__card">
            <img src="{{photo.src}}" alt="" class="logo">
          </div>
        </div>
      {{/each}}
    </div>
  <div class="title">
    <h1 class="title-text">Financial</h1>
  </div>
    <div class="grid">
      {{#each financial as |photo|}}
        <div class="grid__item one-half-width">
          <div class="logo__card">
            <img src="{{photo.src}}" alt="" class="logo">
          </div>
        </div>
      {{/each}}
    </div>
  <div class="title">
    <h1 class="title-text">Hospitality</h1>
  </div>
    <div class="grid">
      {{#each hospitality as |photo|}}
        <div class="grid__item logo-width">
          <div class="logo__card">
            <img src="{{photo.src}}" alt="" class="logo">
          </div>
        </div>
      {{/each}}
    </div>
  <div class="title">
    <h1 class="title-text">Food Services</h1>
  </div>
    <div class="grid">
      {{#each foodService as |photo|}}
        <div class="grid__item one-quarter-width">
          <div class="logo__card">
            <img src="{{photo.src}}" alt="" class="logo">
          </div>
        </div>
      {{/each}}
    </div>
  <div class="title">
    <h1 class="title-text">Health Care</h1>
  </div>
    <div class="grid">
      {{#each healthCare as |item|}}
        <div class="grid__item one-third-width">
          <div class="logo__card">
            <p>{{item.text}}</p>
          </div>
        </div>
      {{/each}}
    </div> --}}
  </div>
</div>
